:root {

  --color-error-0: #ff0000;
  --color-error-1: #ffccaa;
  --color-primary-0: #3F9731;
  --color-primary-1: #89AB84;
  --color-primary-2: #64A25B;
  --color-primary-3: #218C10;
  --color-primary-4: #118000;
  --color-secondary-1-0: #B6783B;
  --color-secondary-1-1: #CFB79F;
  --color-secondary-1-2: #C4996E;
  --color-secondary-1-3: #A95E14;
  --color-secondary-1-4: #9A4D00;
  --color-secondary-2-0: #802A73;
  --color-secondary-2-1: #92708D;
  --color-secondary-2-2: #8B4D81;
  --color-secondary-2-3: #770E66;

  --shadow-primary-0: 0 1px 2px rgba(27,31,35,.25);
  --shadow-secondary-0: inset 0 1px 2px rgba(27,31,35,.25);

}

@font-face {
  font-family: "BPreplay";
  src: url("../fonts/BPreplay/BPreplay.otf");
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #393939;
}

body,
input,
select {
  font-size: 16pt;
}

/* Application styling */

application {
  width: 100vw;
  height: 100vh;

  --color-primary: var(--color-primary-0);
  --color-primary-shade: var(--color-primary-1);

  --color-error: var(--color-error-0);
  --color-error-shade: var(--color-error-0);
}

error {
  border-color: var(--color-error);
  background-color: var(--color-error-shade);
}

header a {
  color: #fff;
  text-underline-offset: 0.15em;
}

fieldset {
  border: 0;
}

dl {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

fieldset legend {
  font-weight: bold;
  color: var(--color-primary);
}

fieldset input {
  box-shadow: var(--shadow-secondary-0);
  border-radius: 5pt;
  border: 1pt var(--color-primary) dotted;
  padding: 4pt 7pt 4pt 7pt;
}

fieldset input:focus {
  border-style: solid;
  transition: border 2s;
}

/* Application layout */
application {
  display: grid;

  grid-template-rows: 80pt min-content min-content auto 30pt;
  grid-template-areas:
    "header"
    "meta"
    "messages"
    "main"
    "footer";
}

application > * {
    padding-left: 15pt;
    padding-right: 10pt;
}

application > messages {
  grid-area: messages;
}

application > article {
  grid-area: main;
}

application > controls {
  grid-area: meta;
}

application > footer {
  grid-area: footer;
}

/* general elements styling */
button,
select,
input[type=button] {
  box-shadow: var(--shadow-primary-0);
  border-radius: 5pt;
  background-color: unset;
  border: 1pt var(--color-primary) solid;
  padding: 4pt 7pt 4pt 7pt;
  font-size: 1em;
}

/* Header styling */
application > header {
  grid-area: header;
  background-color: var(--color-primary);
}

application > header > branding {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

application > header fieldset {
  border: 0;
}

application > header settings fieldset select {
  background-color: var(--color-primary-2);
}

/* Application content control layout */

application > header + * {
  margin-top: 1rem;
}

application > article {
  padding-top: 10pt;
}

.paging .page input[type=number] {
  width: 2em;
  text-align: right;
  -moz-appearance: textfield;
}


fieldset.paging {
  padding: 0;
  display: flex;
}

fieldset.paging dt {
  margin-left: 0;
}

fieldset.paging legend {
  padding-left: 0;
}

fieldset.paging > dl {
  display: flex;
  width: 100%;
}

/* user component styling */
application > controls.user > fieldset.create dl {
  display: flex;
}

application > controls.user > fieldset.create dt {
  width: 120pt;
}

controls fieldset dl {
  align-items: baseline;
}

controls fieldset dt,
controls fieldset dd {
  margin-left: 0.5rem;
}

/* main article styling */
application > article {
  display: flex;
}

ul.index {
  margin: 0;
  padding: 0;
}

ul.index li {
  list-style: none;
}

dl.entity {
  background-color: var(--color-primary-shade);
  border-radius: 5pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  padding: 5pt;
  box-shadow: var(--shadow-primary-0);
}

ul.index li a {
  display: block;
}

dl.entity > dd {
  margin: 0;
}

dl.entity > dt {
}

article > fieldset {
  padding: 0;
}

/* authentication styling */
article > fieldset > dl > dd {
  margin: 0;
}

/* Branding */
application > header > branding name {
  font-family: "BPreplay";
  font-size: 35pt;
}

application > header > branding slogan {
  text-align: right;
}

application header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

